.container--bookings {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 50px;
    font-size: .9rem;
}

.booking-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.booking-card--spot-card-img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

#booking-card--info-container {
    width: 300px;
}

.booking-card--info {
    margin: 8px;
}

#booking-card--info-name {
    font-weight: 600;
}

#booking-card--info-address {
    font-style: italic;
}

#booking-card--info-price {
    font-weight: 600;
}

.booking-card--booking-info {
    margin-left: 8px;
}

.booking-dates {
    font-weight: 900;
    color: #FF5A5F;
}

.booking-card--buttons-container {
    display: flex;
    justify-content: center;
}

#button--delete-booking {
    background-color: #e31c5f;
    color: #FFF;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid #DDD;
    padding: 10px;
    margin-top: 15px;
}

#button--delete-booking:hover {
    background-color: #D31c5f;
    opacity: 0.9;
    cursor: pointer;
}
