.container--login-signup-forms {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 570px;
    height: 680px;
    border-radius: 15px;
}

.title-login-signup {
    align-self: center;
    font-weight: 600;
    border-bottom: 1px solid #DDD;
}

.welcome-login-signup {
    align-self: flex-start;
    font-size: 1.3rem;
    font-weight: 500;
}

.form--login-signup {
    display: flex;
    flex-direction: column;
}

.container--login-signup-fields {
    border: 1.5px solid #DDD;
    overflow: hidden;
    margin-bottom: 55px;
}

.container--login-signup-fields,
.container--login-signup-field,
.login-signup-field {
    border-radius: 7px;
}

#container--login-field-credential,
#container--signup-field-first-name,
#container--signup-field-last-name,
#container--signup-field-email,
#container--signup-field-username,
#container--signup-field-password {
    border-bottom: 1px solid #DDD;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login-signup-field {
    width: 500px;
    padding: 18px;
    border: none;
}

.login-signup-submit-button {
    background-color: #e31c5f;
    color: #FFF;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
