.container--login-signup-forms {
    width: 570px;
    height: 680px;
    border-radius: 15px;
}

.container--login-signup-top {
    padding: 25px 20px 0px;
}

.container--login-signup-bottom {
    padding: 0px 20px 0px;
    margin: 0 auto;
}


.title-login-signup {
    font-weight: 600;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}

.border-div {
    width: 100%;
    border-bottom: 1px solid #DDD;
}

.welcome-login-signup {
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    margin: 35px 0px 0px 0px;
}

.container--login-signup-fields {
    border: 1.5px solid #DDD;
    overflow: hidden;
    margin-bottom: 55px;
    position: relative;
}

/* #container--signup-fields {
    width: 530px;
    position: absolute;
} */

.container--login-signup-fields,
.container--login-signup-field,
.login-signup-field {
    border-radius: 7px;
}

#container--login-field-credential,
#container--signup-field-first-name,
#container--signup-field-last-name,
#container--signup-field-email,
#container--signup-field-username,
#container--signup-field-password {
    border-bottom: 1px solid #DDD;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.login-signup-field {
    width: 100%;
    padding: 18px;
    border: none;
}

.login-signup-submit-button {
    background-color: #e31c5f;
    color: #FFF;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    width: 530px;
    bottom: 20px;
}

.container--signup-form {
    height: 610px;
}

#container--login-form {
    height: 390px;
}

/* DYNAMIC RESIZING OF SIGN UP FORM WHEN ERRORS ADDED! */
#error-length-0 {
    height: 610px;
}
#error-length-1 {
    height: 630px;
}
#error-length-2 {
    height: 650px;
}
#error-length-3 {
    height: 670px;
}
#error-length-4 {
    height: 690px;
}
#error-length-5 {
    height: 710px;
}
#error-length-6 {
    height: 730px;
}
