.container--user-reviews {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 40px;
    font-size: .9rem;
    margin-bottom: 150px;
    width: 100%;
    height: 100%;
}

.review-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    align-items: center;
}

.review-left {
    position: relative;
    width: 30%;
    height: 100%;
    padding-right: 20px;
}

#review-card--info-name {
    font-weight: 700;
    font-size: 1.9rem;
    position: absolute;
    top: 3%;
    left: 4%;
    color: #FFF;
    text-shadow: 2px 2px 4px #333;
}

.review-card--spot-card-img {
    width: 100%;
    height: 420px;
    border-radius: 15px;
    object-fit: cover;
}

.review-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    height: 400px;
    max-height: 410px;
}

.review-right-top {
    overflow-y: auto;
    overflow-y: auto;
}

#review-card--info-container {
    width: 100%;
}

.review-card--rating-container {
    display: flex;
    align-items: center;
    margin: 3px 0px 0px 5px;
}

.rating-text {
    margin: 0px 3px 0px 2px;
}

.review-card--info {
    margin: 8px;
}

.review-card--rating {
    margin: 0px 0px 2px 3px;
}

#review-card--review-header,
#review-card--review-img-header {
    margin: 0px 0px 0px 6px;
    font-weight: 600;
    font-size: 1.3rem;
}

.review-card--actual-review {
    margin: 5px 8px 0px 8px;
    text-align: justify;
    width: 80%;
    max-height: 275px;
    overflow-y: auto;
    word-break: break-word;
}

.user-review-images {
    width: 80%;
    height: 225px;
    margin-top: 10px;
    overflow-y: auto;
    display: flex;
    gap: 20px;
    padding: 10px 10px;
    border: 1px dotted #CCC;
    border-radius: 4px;
}

.user-review-img {
    border-radius: 15px;
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.container--user-review-img-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
}

.review-card--buttons-container {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#button--delete-review,
#button--edit-review,
#button--add-review-image,
#button--delete-review-img {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 15%);
    color: #FFF;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid #DDD;
    padding: 10px;
    margin: 15px 0px 0px;
    width: 220px;
    height: 55px;
}

#button--delete-review:hover,
#button--edit-review:hover,
#button--add-review-image:hover,
#button--delete-review-img:hover {
    background: linear-gradient(45deg, #e31c5f, #FF5A5F);
    cursor: pointer;
}

#button--delete-review-img {
    width: 130px;
}
