.container--user-reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    font-size: .9rem;
    margin-bottom: 150px;
}

.review-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.review-card--spot-card-img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
}

#review-card--info-container {
    width: 300px;
}

.review-card--name-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 8px;
}

.review-card--rating-container {
    display: flex;
    align-items: center;
}

.review-card--info {
    margin: 8px;
}

#review-card--info-name {
    font-weight: 600;
}

.review-card--rating {
    margin: 0px 0px 2px 3px;
}

#review-card--review-header,
#review-card--review-img-header {
    margin: 10px 0px 0px 6px;
    font-weight: 600;
    font-size: 1.3rem;
}

.review-card--actual-review {
    margin: 5px 0px 0px 8px;
    text-align: justify;
}

.user-review-images {
    width: 100%;
    margin-top: 10px;
}

.user-review-img {
    border-radius: 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.review-card--buttons-container {
    display: flex;
    justify-content: space-around;
}

#button--delete-review,
#button--edit-review,
#button--add-review-image {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 15%);
    color: #FFF;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid #DDD;
    padding: 10px;
    margin-top: 15px;
}

#button--delete-review:hover,
#button--edit-review:hover,
#button--add-review-image:hover {
    background: linear-gradient(45deg, #e31c5f, #FF5A5F);
    cursor: pointer;
}
