/* STYLING FOR BOOKING FORM */
/* NOTE: SOME STYLES ARE INHERITED FROM index.css */
#container--spot-bookings {
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0px #CCC;
    padding: 25px;
}

#form--create-booking {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-size: .9rem;
}

#booking-form-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: -1;
}

#booking-form-price {
    font-size: 1.4rem;
    font-weight: 600;
    margin-right: 2px;
}

#booking-form-stars,
#booking-form-reviews {
    font-size: .8rem;
}

#booking-form-stars {
    font-weight: 500;
}

.booking-form-dot {
    font-weight: 500;
}

#check-in-out-container {
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    margin: 20px 0px 15px;
    z-index: -1;
}

#check-in-container,
#check-out-container {
    width: 50%;
    background-color: #FFF;
    position: relative;
}

#form-field--check-in {
    border-right: 1px solid #CCC;
}

#check-in-text,
#check-out-text {
    font-size: .6rem;
    font-weight: 700;
    position: absolute;
    top: 10px;
    left: 11px;
}

#form-field--check-in,
#form-field--check-out {
    width: 100%;
    height: 55px;
    padding: 22px 15px 10px 10px;
}
#form-field--check-in:focus,
#form-field--check-out:focus {
    border-right: 2px solid #000;
    border-radius: 7px;
}

#button--booking-submit {
    width: 100%;
    z-index: -1;
}
