/* SITE-WIDE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', 'Montserrat Alternates', 'Open Sans', 'Arimo', 'Roboto', sans-serif;
    font-weight: 300;
}

#container--page {
    padding: 20px 235px;
}

/*****************************************************************************/
/* STYLES FOR ALL FORMS */

.error-li {
    color: #FF385C;
    font-weight: 600;
}

.container--form {
    margin-top: 50px;
}

.container--form,
.form,
.container--form-fields-only {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--form-fields-only {
    margin: 20px 0px 30px;
    width: 700px;
}

.container--form-field,
.form-field {
    /* border-radius: 7px; */
    border-right: 1.5px solid #DDD;
    border-left: 1.5px solid #DDD;
}

#container--form-field-spot--name,
#container--form-field-spot--address,
#container--form-field-spot--city,
#container--form-field-spot--state,
#container--form-field-spot--country,
#container--form-field-spot--lat,
#container--form-field-spot--lng,
#container--form-field-spot--desc,
#container--form-field-spot--price {
    border-bottom: 1px solid #DDD;
}

#container--form-field-spot--name,
#form-field--name {
    border-top: 1px solid #DDD;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

#container--form-field-spot--image,
#form-field--image {
    border-bottom: 1px solid #DDD;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

#form-field--desc {
    overflow-y: scroll;
    resize: none;
}

.form-field {
    width: 500px;
    padding: 18px;
    border: none;
}

.submit-button {
    background-color: #e31c5f;
    color: #FFF;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #D31c5f;
    opacity: 0.9;
}
