/* SITE-WIDE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', 'Montserrat Alternates', 'Open Sans', 'Arimo', 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    margin: 0;
    padding: 0;
}

nav,
#page-content {
    margin: 0 auto;
}

header {
    padding: 0px 80px;
}

#page-content {
    padding: 0px 80px;
}


h1 {
    text-align: center;
}

/*****************************************************************************/
/* STYLES FOR ALL FORMS */

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border: 2px solid black;
    border-radius: 7px;
}

.list--errors {
    padding: 0;
    margin: 20px 0px;
}

.error-li {
    color: #FF385C;
    font-size: .80rem;
    font-weight: 600;
    list-style: none;
    margin: 3px 0px;
}

/* .container--form {
    margin-top: 0px;
} */

/* .container--form, */

/* -----> START OF CREATE A SPOT / EDIT A SPOT FORMS <----- */
.form,
.container--form-fields,
#container--img-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container--form-fields {
    margin: 20px 0px 30px;
    border: 1px solid #DDD;
    border-radius: 7px;
    overflow: hidden;
}

.form-field {
    width: 500px;
    padding: 18px;
    border: none;
}

#form-field--name,
#form-field--address,
#form-field--city,
#form-field--state,
#form-field--country,
#form-field--lat,
#form-field--lng,
#form-field--desc,
#form-field--price,
#form-field--review,
#form-field--stars {
    border-bottom: 1px solid #DDD;
}
#form-field--name:focus,
#form-field--address:focus,
#form-field--city:focus,
#form-field--state:focus,
#form-field--country:focus,
#form-field--lat:focus,
#form-field--lng:focus,
#form-field--desc:focus,
#form-field--price:focus,
#form-field--review:focus,
#form-field--stars:focus {
    border: 2px solid #000;
}

#form-field--desc {
    overflow-y: auto;
    resize: none;
}

.submit-button {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 30%);
    color: #FFF;
    font-weight: 500;
    padding: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 500px;
}

.submit-button:hover {
    background: linear-gradient(45deg, #e31c5f, #FF5A5F);
}

#button--create-spot-submit,
#button--edit-spot-submit,
#button--add-img-submit {
    margin-bottom: 150px;
}

.create-spot-img-url-preview {
    width: 250px;
    height: 125px;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 1.95 / 1;
    margin: 15px;
}

.edit-spot-img-url-preview-div {
    display: flex;
    align-items: center;
    margin: 15px 0px 0px;
}
.edit-spot-img-url-preview-div:last-child {
    margin-bottom: 15px;
}
.edit-spot-img-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-spot-img-url-preview {
    width: 150px;
    height: 125px;
    border-radius: 15px;
    object-fit: cover;
    aspect-ratio: 1.95 / 1;
    margin: 5px;
}

#button--delete-img {
    width: 125px;
    margin: 15px 0px 0px 25px;
}

/* ------> END OF CREATE A SPOT / EDIT A SPOT FORMS <------ */




/* ------------> START OF ADD SPOT IMAGE FORM <------------ */
#add-img-spot-thumbnail {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

#form-field--add-img-url:focus {
    border: 2px solid #000;
}

/* -------------> END OF ADD SPOT IMAGE FORM <------------- */




/* --------------> START OF ADD REVIEW FORM <-------------- */
.create-review-img-url-preview {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    margin: 15px;
}

/* --------------> START OF ADD REVIEW FORM <-------------- */
