

#container--user-spots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    font-size: .9rem;
    margin-bottom: 150px;
}

.user-spot-card {
    width: 300px;
}

.user-spot-card--button {
    background: linear-gradient(45deg, #FF5A5F, #e31c5f 15%);
    color: #FFF;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid #DDD;
    padding: 10px;
}

.user-spot-card--button:hover {
    background: linear-gradient(45deg, #e31c5f, #FF5A5F);
    cursor: pointer;
}

.user-spot-card--info {
    margin: 8px 0px 20px;
    padding: 2px;
}

.spot-card--info-row-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

#spot-card--info-country,
#spot-card--info-name {
    color: #6f7174;
}

.spot-card--info-row-2 {
    margin-bottom: 2px;
}

.spot-card--info-row-4 {
    margin-top: 9px;
}

#spot-card--info-price {
    font-weight: 500;
}

.user-spot-card--buttons-container {
    display: flex;
    justify-content: space-around;
}
