.logo {
    width: auto;
    height: 32px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #DDD;
    padding: 10px 80px 20px;
}

.navbar--right {
    display: flex;
}

.link--create-spot {
    margin-right: 47px;
}

.button--profile {
    width: 77px;
    height: 42px;
    padding: 5px 5px 5px 12px;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 21px;
}

.button--profile:hover {
    box-shadow: 0px 2px 4px 0.5px #DDD;
    cursor: pointer;
}

.button--create-spot {
    width: 130px;
    height: 42px;
    padding: 5px 5px 5px 12px;
    font-weight: 600;
    background-color: #FFF;
    border: 0px solid #DDD;
    border-radius: 21px;
}

.button--create-spot:hover {
    background-color: #F6F6F6;
    cursor: pointer;
}

.icon--profile {
    margin: 5px;
    height: 16px;
    width: 16px;
}

.list--profile-dropdown {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: flex-start;
    background-color: #FFF;
    top: 65px;
    right: 85px;
    box-shadow: 2px -2px 4px 0.5px #DDD;
    border-radius: 15px;
    padding: 10px 0px;
    list-style: none;
}

.button--dropdown-item {
    border: none;
    background-color: #FFF;
    padding: 15px 185px 15px 15px;
    font-size: .8rem;
}

.button--dropdown-item-user-data {
    font-style: italic;
}

.button--dropdown-item-link:hover {
    background-color: #F6F6F6;
    cursor: pointer;
}

.button--modal {
    font-weight: 600;
}

#button--user-spots,
#button--user-bookings {
    font-weight: 600;
}
